@import "./variables";

.account-container {
  width: 100%;
  margin-top: var(--nav-height);
  padding: 3rem 3rem;

  hr {
    height: 1px;
    border: 0;
    background-color: $silver-200;
  }
  h1 {
    font-size: 1.4rem;
    font-weight: 600;
    color: $silver-950;
    padding-bottom: 1.5rem;
  }
}
.account-flex-wrap {
  display: flex;
  min-height: 60vh;
  padding: 2.5rem 0;
}
.account-flex-wrap-l {
  @include flex-column();
  width: 20%;
  min-width: 110px;
  gap: 1rem;

  a {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

    transition: color 0.25s ease-out;
    text-decoration: none;

    &:hover {
      color: #000000;
      text-decoration: underline;
    }
  }
}
.account-flex-wrap-l-icon-display {
  display: none;
}
.account-link {
  color: $silver-700;
}
.account-navLink-active {
  color: #000000;
}
.account-navLink-inactive {
  color: $silver-700;
}
.account-flex-wrap-r {
  flex-grow: 1;
}

/*Orders SCSS*/
.account-orders-container {
  @include flex-column();
  row-gap: 1.5rem;
  hr {
    background-color: $silver-800;
  }
  h2 {
    font-size: 1rem;
    font-weight: 500;
  }
  h3 {
    font-size: 15px;
    font-weight: 400;
  }
}
.account-order-history-container {
  width: 100%;
  min-height: 150px;
}
.account-order-history-order-no {
  color: inherit;
  text-decoration: none;

  transition: color 0.25s ease;
  &:hover {
    color: $punch-600;
  }
}
.account-order-history-none {
  @include flex-column();
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: $silver-700;
  &__icon {
    font-size: 20px;
    border: 1px solid $silver-700;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:last-child {
    font-size: 13px;
  }
}
.account-order-history-exists {
  width: 100%;
}

.account-order-history-head-skeleton{
  th{
    div{
      width: min-content;
      font-size: 0.875rem;
      font-weight: 500;
      background-color: $silver-200;
      color: transparent;
      border-radius: 0.5rem;
      background: linear-gradient(-45deg, #e3e3e3, #f7f7f7, #e3e3e3, #f7f7f7);
      background-size: 400% 400%;
      -webkit-animation: Gradient 2.25s ease infinite;
      -moz-animation: Gradient 2.25s ease infinite;
      animation: Gradient 2.25s ease infinite;

    }
  }
}
.account-order-history-body-skeleton{
  th, td{
    div{
      width: fit-content;
      padding: 0 1.7rem;
      background-color: $silver-200;
      color: transparent;
      border-radius: 0.38rem;
      background: linear-gradient(-45deg, #e3e3e3, #f7f7f7, #e3e3e3, #f7f7f7);
      background-size: 400% 400%;
      -webkit-animation: Gradient 2.25s ease infinite;
      -moz-animation: Gradient 2.25s ease infinite;
      animation: Gradient 2.25s ease infinite;

    }
  }
}

/*OrderView SCSS*/
.orderView-container {
  @include flex-column();
  row-gap: 1.5rem;
  hr {
    background-color: $silver-800;
  }
  h2 {
    font-size: 1rem;
    font-weight: 500;
  }
}
.orderView-details {
  font-size: 15px;
  p {
    &:first-child {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
}
.orderView-table {
  max-height: 700px;
  overflow-y: auto;
  border-bottom: 1px solid $silver-200;
  margin-top: 2rem;
}
.orderView-table-name {
  img {
    width: 120px;
    vertical-align: middle;
  }
  span {
    padding-left: 10px;
    font-weight: 500;
  }
}
.orderView-summary-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  column-gap: 10vw;
  > :first-child {
    font-weight: 500;
    font-size: 15px;
  }
}

.orderView-summary-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 10rem;

  p {
    font-size: 14px;
    &:nth-child(even) {
      text-align: right;
    }
  }
}

/*UserProfile SCSS*/
.userProfile-container {
  width: 100%;

  @include flex-column();
  row-gap: 1.5rem;

  hr {
    background-color: $silver-800;
  }
  h2 {
    font-size: 1rem;
    font-weight: 500;
  }
}
.userProfile-form {
  padding: 1rem 0;
  @include flex-column();
  gap: 3rem;
  &__name-wrapper {
    display: flex;
    gap: 10px;
  }
  &__button-wrapper {
    display: flex;
    gap: 1rem;

    button {
      padding: 0.7rem;
      width: 150px;
      border-radius: 0.15rem;
      border: 1px solid $silver-950;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
  label {
    @include flex-column();
    gap: 5px;
    font-size: 13px;
    color: $silver-900;
  }
  input {
    border: none;
    border-bottom: 1px solid $silver-300;
    transition: border 0.25s;
    padding: 0.2rem 0.2rem 0.5rem 0.2rem;

    &:focus {
      outline: none;
      border-bottom: 1px solid $silver-800;
    }
  }
  hr {
    margin-top: 3rem;
    background-color: $silver-200;
  }
}
.userProfile-form-save-btn {
  background-color: transparent;
  z-index: 0;
  color: #fff;
  position: relative;
  transition: color 0.4s;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: 100% 0;
    z-index: -1;
    transition: transform 0.4s;
    transform: scaleY(1);
    background-color: $silver-950;
  }
  &:hover::before {
    transform: scaleY(0);
  }
  &:hover {
    color: #000;
  }
}
.userProfile-form-edit-btn {
  background-color: transparent;
  color: $silver-950;
  z-index: 0;
  position: relative;
  transition: color 0.4s;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 100%;
    z-index: -1;
    transition: transform 0.4s;
    transform: scaleY(0);
    background-color: $silver-950;
  }
  &:hover::before {
    transform: scaleY(1);
  }
  &:hover {
    color: #ffffff;
  }
}
.userProfile-form > label {
  input {
    width: 60%;
  }
}

/*MUI themes*/

.MuiTableCell-root {
  display: flex;
}
.MuiTablePagination-root {
  padding-top: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}


/*Animations*/
.pulsate{
  background: linear-gradient(-45deg, #DDDDDD, #F0F0F0, #DDDDDD, #F0F0F0);
    background-size: 400% 400%;
    -webkit-animation: Gradient 2.25s ease infinite;
    -moz-animation: Gradient 2.25s ease infinite;
    animation: Gradient 2.25s ease infinite;
}
@-webkit-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@media screen and (max-width: $media-lg) {
  .account-flex-wrap-l {
    a {
      font-size: 13px;
    }
  }

  /*Orders*/
  .account-orders-container {
    h3 {
      font-size: 0.87rem;
    }
  }
  .css-quj9j6-MuiTable-root {
    min-width: 0 !important;
  }
  .css-1ex1afd-MuiTableCell-root {
    font-size: 13px !important;
    padding: 16px 0 16px 16px !important;
    a {
      font-size: 13px;
    }
  }
}
@media screen and (max-width: $media-tablet) {
  .account-container {
    padding: 3rem var(--nav-tablet-padding);

    h1 {
      font-size: 1.1rem;
    }
  }
  .account-flex-wrap {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .account-flex-wrap-l {
    width: 100%;
    gap: 0;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $silver-200;
    }
    a {
      padding: 0.9rem 0;
      width: 100%;
    }
  }
  .account-flex-wrap-l-icon-display {
    display: block;
    font-size: 0.8rem;
    color: $silver-600;
  }

  /*Orders*/
  .css-1ygcj2i-MuiTableCell-root {
    font-size: 13px !important;
  }
  .css-1ex1afd-MuiTableCell-root {
    font-size: 12px !important;
    a {
      font-size: 13px;
    }
  }
  .account-order-history-body-skeleton{
    th, td{
      div{
        padding: 0;
  
      }
    }
  }

  /*Order View*/
  .orderView-table-name {
    img {
      width: 90px;
      vertical-align: text-bottom;
    }
    span {
      display: block;
      padding-left: 0;
    }
  }
  .orderView-summary-container {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
    column-gap: 0;
    row-gap: 1rem;
  }
  .orderView-summary-body {
    width: 100%;
  }

  /*User Profile*/
  .userProfile-container{
    h2{
        font-size: 0.925rem;
    }
  }
  .userProfile-form{
    
    &__button-wrapper{
        button{
            width: 100%;
        }
    }
    input{
        width: 100%;
    }
  }
  .userProfile-form > label {
    input {
      width: 100%;
    }
  }
}
