@import "./nav";
@import "./home";
@import "./footoer";
@import "./counterButton";
@import "./shopAll";
@import "./product";
@import "./about";
@import "./variables";
@import "./errorPage";
@import "./signup";

.App{
    overflow-x: clip;
    width: 100%;
    background-color: #ffffff;
}